*{
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
    box-sizing: border-box;
}

body{
    background-color:#d9dbf1;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.container{
    width: 100%;
    max-width: 650px;
    background: linear-gradient(to top,#546a76,#9993B2);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px;
}

.Text{
    width: 100%;
    display: flex;
    gap: 10px;
}

#fromLang, #toLang{
    width: 100%;
    height: 180px;
    font-size: 18px;
    padding: 15px;
    border-radius: 8px;
    border: none;
}

.selectArea{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    background-color: #262730;
    padding: 10px;
    border-radius: 8px;
}

.slt1, .slt2{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}


#transfer{
    width: 80%;
    height: 50px;
    background-color: #262730;
    color: #fff;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
}


.speak, .copy, .mic{
    width: 26px;
    cursor: pointer;
    transition: 0.2s ease;
}

.mic.listening{
    filter: brightness(2);
    transform: scale(1.25);
}

/* Mobile Fix */
@media(max-width: 768px){
    
    .Text{
        flex-direction: column;
    }

    #fromLang, #toLang{
        height: 150px;
        font-size: 16px;
    }

    .selectArea{
        flex-direction: column;
        gap: 12px;
    }

    .slt1, .slt2{
        width: 100%;
        border: none;
    }

    #transfer{
        width: 100%;
        font-size: 17px;
    }

    #fselect, #sselect{
        width: auto;
        font-size: 14px;
        padding: 6px;
    }
}
